/*--- Global Styles ---*/
body {
    font-family: 'Inter', sans-serif;
    color: #211717;
    background-color: #b40000;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #141313;
}

.video-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.home-section {
    position: relative;
    z-index: 1;
    color: #fff;
}